<br><br><br>
<h1>ToDo List</h1><br>


<div class="row">
	<div class="col-md-6">

		<h2>ToDo's Incompletos</h2>
	
		<% @todos.each do |todo| %>

			<% if todo.completed == false %>
				
					<div class="card"><%= todo.description%> </div>
				
			<% end %>
		<% end %>

	</div>

	<div class="col-md-6">
	<h2>ToDo's Completados</h2>
	
		<% @todos.each do |todo| %>

			<% if todo.completed == true %>
				
					<div class="card"><%= todo.description%> </div>
				
			<% end %>
			
		<% end %>

	</div>

</div>
