
<div class="container">
<h1>Show un ToDo</h1><br>


	<div class="card">

		<div class="col-6">Descripción: <%= @todo.description %></div>
		<div class="col-6">Completed: <%= @todo.completed %></div>
	</div>
	
	
</div>